<h1>Selecione a opção</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="upload" routerLinkActive="active">Upload</a></li>
    <li><a routerLink="cadastro" routerLinkActive="active">Cadastro</a></li>
    <li><a routerLink="consultalog" routerLinkActive="active">Consulta</a></li>
    <li><a routerLink="formtemplatedriven" routerLinkActive="active">Teste Formulario com Template</a></li>
    <li><button (click)="openDialog()" value="Teste dialog">Teste Dialog</button></li>
  </ul>
</nav> 
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>